.projects {
  position: relative;
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: grid;
  align-items: center;
}

.projects__main {
  position: absolute;
  top: 0;
  transform: translateY(50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  transition: 0.3s;
}

.__main__active {
  width: 150px;
  padding: 1rem;
  border-radius: 100px;
  background-color: #000;
  color: #fff;
  transition: 0.3s;
}

.__main__projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.__main__navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.__main__navigation > .__navigation__item {
  width: 150px;
  padding: 1rem;
  border-radius: 100px;
  background-color: #fff;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}

.__main__navigation > .__navigation__item:hover {
  width: 150px;
  padding: 1rem;
  border-radius: 100px;
  background-color: #000;
  color: #fff;
}
